
@media (max-width: 480px) {
    #grid .item {
        width: calc(100% - 20px);
    }

    header .header-icons-container {
        display: flex;
        justify-content: center;
    }

    header .header-icons-container .icons {
        margin-right: 0;
        width: 300px;
    }

    header .back .back-button i {
        padding-bottom: 100px;
        transform: scale(1.5);
        color: #2da4c4;
    }

    header .back .back-button i:hover {
        color: #2da4c4;
        cursor: pointer;
    }

    header .profile-link {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 150px;
        margin-right: 0;
    }

    header .back {
        padding: 70px;
    }

    header .back .back-button {
        justify-content: left;
    }

    .nav-logo-container p{
        display:none !important;
    }

    nav {
        display: flex;
    }

    nav .profile-link img {
        height: 95px;
        padding-right: 180px;
    }

    nav .nosotros a {
        margin-top: 25px;
        margin-right: 20px;
    }

    .slider img {
        height: 80%;
    }
}

@media (max-width: 600px) {
    #grid .item {
        width: calc(50% - 20px);
    }
    
    .proyects-main-container {
        display: block;
    }

    .profile-container {
        text-align: center;
    }

    .profile-main-container img {
        margin-right: 0;
    }
    .blogs-posts-container .post-container {
        max-width: 100%;
        text-align: justify;
    }

    .proyect-container p {
        text-align: justify;
        margin-right: 0;
    }

    .dani-img {
        display: flex;
        justify-content: center;
    }

    .soy-dani {
        text-align: justify;
    }

    .blogs-news-img-container{
        margin-right: 0;
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    .blogpost-main-container p {
        max-width: 80%;
        margin: 15px auto;
    }
    
    .blogpost-main-container h1 {
        max-width: 80%;
        margin: 15px auto;
    }
    
    .blogpost-main-container h3 {
        padding-right: 35px;
        margin: 0 15px;
    }

    header .header-icons-container {
        display: flex;
        justify-content: center;
    }

    header .header-icons-container .icons {
        margin-right: 0;
        width: 300px;
    }

    header .back .back-button i {
        padding-bottom: 100px;
        transform: scale(1.5);
        color: #2da4c4;
    }

    header .back .back-button i:hover {
        color: #2da4c4;
        cursor: pointer;
    }

    header .profile-link {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 150px;
        margin-right: 0;
    }

    header .back {
        padding: 70px;
    }

    header .back .back-button {
        justify-content: left;
    }

    .nav-logo-container p{
        display:none !important;
    }

    nav {
        display: flex;
    }

    nav .profile-link img {
        padding-right: 300px;
    }

    nav .nosotros a {
        margin-top: 25px;
        margin-right: 20px;
    }
    nav .nosotros a .none {
        display:none !important;
    }

    footer {
        height: 100px;
    }

}


